* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(73, 68, 68);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;

}

.head-logo img {
  height: 7rem;
  width: auto;
}

ul {
  display: flex;
  gap: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

nav {
  margin-right: 50px;
  color: white;
}

.chi-siamo {
  padding: 1rem 1rem;
}

.chi-siamo img {
  height: 500px;
  width: auto;
}

body {
  padding-top: 116px;
}
